<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg col-md background-color mt-5">
            <table class="table table-bordered mb-3 text-center">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Author</th>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Language</th>
                    <th scope="col">Desciption</th>
                    <th scope="col">Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let book of bookData">
                    <td>{{book['id']}}</td>
                    <td>{{ book['author'] }}</td>
                    <td>
                        <img class="image" src="{{ book['imageLink']}}" />
                    </td>
                    <td>{{ book['title'] }}</td>
                    <td>{{ book['language'] }}</td>
                    <td>{{ book['description'] }}</td>
                    <td>
                        <a routerLink="/detail" (click)="updateBookServiceId(book['id'])">click here</a>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="row margin">
        <div class="col-lg-6 col-md-6">
            <div>
                <ul class="pagination">
                  <li class="page-item" *ngIf="paginationNumber > 1">
                    <a class="page-link pointer" (click)="previousPage(paginationNumber - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of paginationArray; let i = index" class="page-item" [ngClass]="{'active' : paginationNumber == page}">
                      <a class="page-link pointer" (click)="updatePage(page)">{{page}}</a>
                  </li>
                  <li class="page-item" *ngIf="paginationNumber < 5">
                    <a class="page-link pointer" (click)="nextPage(paginationNumber)">Next</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>